body{
    background-color: lightblue;
    height: 100vh;
    margin: 0;

}

.interface{
    background-color: white;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    margin: 100px auto;
    text-align: center;
}

h1{
    margin-bottom: 200px;
}

a{
    display: block;
    margin: 50px auto;
}