body{
    background-color: lightblue;
    height: 100vh;
    margin: 0;
}

.menu{
    border: 2px solid black;
    background-color: white;
    height: 50%;
    width: 50%;
    margin: 100px auto;
    display: flex;
    text-align: center;
}

#frmRegister{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}